<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
     <add name = "dbcnn" connectionString="Data Source=192.168.0.10;Initial Catalog=dbCtrlServicios;Integrated Security=True"/>
    <!--  <add name = "dbcnn" connectionString="Data Source=Server;Initial Catalog=dbCtrlServicios;User ID=Tech;Password=Soles2015"/> -->
  </connectionStrings>
</configuration>


